* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #212121;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px; /* Scurtătură pentru left/right */
    color: #f4f4f4; /* Culoare text implicită */
}

header {
    display: flex; /* Adăugat pentru a centra conținutul corect */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    min-height: 75px;
    background: rgb(220, 220, 220);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
                rgba(0, 0, 0, 0.06) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px;
    padding: 15px;
    margin-bottom: 40px;
}

h1 {
    color: rgba(50, 50, 50, 1);
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-shadow: 0em 0.1em 0.05em rgba(0, 0, 0, 0.1);
    letter-spacing: -0.05em;
}

/* Containerul pentru buton (efectul de gradient) */
.container {
    display: inline-block; /* Pentru a nu ocupa tot rândul */
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    z-index: 1;
}

.container button {
    font-size: 1.2em;
    padding: 0.6em 1.2em;
    border-radius: 0.7em;
    border: none;
    background-color: #212121;
    color: #e8e8e8;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -1;
    transition: filter 0.4s ease, background 0.4s ease;
}

.container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
}

.container:active::before {
    filter: blur(0.2em);
}

footer {
    float: right;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
    text-align: right;
}
